body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}
h1{
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.news {
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.image {
    max-width: 90%;
    height: auto;
    padding: 20px 20px 0px 20px;
    border-bottom: 1px solid #ddd;
}
.title {
    padding: 20px 20px 0px 20px;
    margin-bottom: 10px;
}
.text {
    color: #797878;
    padding: 0px 20px 20px 20px;
}