body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: white;
	height: 50px;
  padding: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

main {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
	flex: 1;
  padding:0 250px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
  background-color: #333;
  color: white;
  padding: 10px;
  margin-top: auto;
	gap:150px
}
.navigate{
	/* background-color: red; */
}
ul{
	list-style: none;
	display: flex;
	gap:100px;
}
a{
	color: white;
	text-decoration: none;
}
.logo{
	height: 100%;
	width: 50px;
	/* background-color: red; */
}
.logo img{
	height: 100%;
	width: 100%;
}
.first_section {
	margin-top: 20px;
	padding: 20px;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}
section img{
	width: 400px;
	height: 200px;
	overflow: hidden;
}
.three_section{
	margin-bottom: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.second_section{
	display: flex;
	flex-direction: column;
	align-items: end;
	text-align: end;
	margin-top: 20px;
	padding: 20px;
	border-bottom: 2px solid black;
}

