body {
    font-family: Century Gothic;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

article {
    width: 45%;
    margin-bottom: 1em;
}

img {
    width: 75%;
    height: auto;
}

p {
    font-weight: bold;
    line-height: 1.6;
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    width: 100%;
}