body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.news-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.news-card {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ac9b9b;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}