body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #009efd;
}

.news {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.news-item {
    width: 30%;
    padding: 10px;
    border: 1px solid #fbfd00;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.news-item img {
    max-width: 100%;
    border-radius: 5px;
}

.news-item h2 {
    margin-top: 10px;
    font-size: 18px;
}

.news-item p {
    font-size: 14px;
    color: #666;
}
.comments {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f8f8;
}

.comments h2 {
    margin-bottom: 10px;
    color: #333;
}

.comment {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.comment h3 {
    margin-bottom: 5px;
    color: #666;
}

.comment p {
    margin: 0;
    color: #333;
}

