header {
    width: 40%;
    background-color: rgb(255, 120, 120);
    height: 50px;
    transform: translate(70%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

header > p {
    font-size: 36px;
    color: aliceblue;
}

body {
    margin: 0;
}