.block{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.information{
    width: 200px;
    margin: 10px;
    border-bottom: 1px solid gray;
}
.information img {
    max-width: 100%;
    display: block;
    margin-top: 10px;
}

.title-block {
    text-align: center;
    width: 100%;
    background-color: darkgrey;
}