* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    transition: 1s;
}

img {
    margin: 5px;
}

body {
    background-color: green;
}

div {
    background-color: yellow;
    color:green;
}

*:hover {
    transform: scale(1.05) translateX(90px);
    transition: 1s;
}
