body
{
    font-family: Arial, sans-serif;
}
h1
{
    text-align: center;
}
.news
{
    background-color: lightgrey;
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    border-radius: 8px;
}

.news-img img
{
    width: 200px;
    border-radius: 4px;
}