body {
    text-align: center;
    margin: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007BFF;
}

h2 {
    color: #555;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-top: 20px;
}
h3 {
    color: #123;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-top: 20px;
}
p {
    color: #666;
    line-height: 1.6;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.image-container img {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}