body{
    background: black;
}

.Header{
    background: white;
    display: flex;
    font-size: 72px;
    color: black;
    justify-content: center;
    font-family: "Arial Black", serif;
}
.post{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.selected{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px;
    border: 5px solid blue;
}
.description{
    font-size: 40px;
    color: white;
    width: 250px;
    margin-left: 10px;
}

img{
    width: 50%;
}