*{
    padding: 0;
    margin: 0;
}
h1, h2{
    text-align: center;
    margin: 1em;
}
header, article>div, footer{
    border: 1px solid black;
    margin: 0.5em;
}
header{
    margin-top: 0;
    background-color: lightcyan;
    margin-left: 0;
    margin-right: 0;
}
header>div{
    font-size: 1.5em;
    text-indent: 5%;
    margin: 1em;
}
article>div>div>div{
    width: 50%;
    margin: 0.5em;
}
img{
    width: 100%;
    display: block;
}
article>div>div:nth-child(2){
    display: flex;
}
.textBlock{
    font-size: 1em;
    margin: auto 5%;
    text-indent: 5%;
}
article{
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}
.divImage{
    margin: auto 0;
}
footer>div{
    text-align: center;
    margin: 0.5em;
    font-weight: bold;
}
footer{
    background-color: lightblue;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}