
/* Стилі для контейнера новин */
.news {
    display: flex; /* Використовуємо flexbox для вирівнювання елементів */
    flex-wrap: wrap; /* Розміщуємо елементи в ряд по мірі заповнення */
    justify-content: center; /* Вирівнюємо елементи по центру головної осі */
}

/* Стилі для окремого елемента новини */
.news-item {
    width: 100%; /* Робимо елементи 100% шириною для адаптивності */
    margin: 20px; /* Зовнішні відступи */
    padding: 10px; /* Внутрішні відступи */
    border: 1px solid #ccc; /* Рамка зі зазначеним коліром */
    border-radius: 5px; /* Закруглені кути */
    text-align: center; /* Вирівнюємо текст по центру */
}

/* Стилі для зображення в елементі новини */
.news-item img {
    width: 200px; /* Задаємо фіксовану ширину зображення */
    height: 200px; /* Задаємо фіксовану висоту зображення */
    border-radius: 5px; /* Закруглені кути для зображення */
}

/* Стилі для заголовка в елементі новини */
.news-item h2 {
    margin-top: 10px; /* Зовнішній відступ зверху */
    font-size: 20px; /* Розмір шрифту */
}

/* Стилі для тексту в елементі новини */
.news-item p {
    font-size: 16px; /* Розмір шрифту */
}
