div.user {
    border:1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding:10px;
}
div.user div {
    cursor: pointer;
}
div.user.selected {
    background-color: rgb(47, 231, 255);
}
body{
    background-color: gray;
}