body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.user-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.user {
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(33.33% - 20px);
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user.selected {
    background-color: #9eff9e;
}

.user div {
    margin-bottom: 10px;
}

.user div:last-child {
    margin-bottom: 0;
}

.user:hover {
    background-color: #ab8bef;
}
