body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b5ccad;
}

header {
    background-color: #15a205;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.animal-list {
    list-style-type: none;
    padding: 0;
    margin: 0 100px;
}

.animal {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.animal img {
    border-radius: 10px;
    max-width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}
