:root {
    --f1-red : #c21200
}
@font-face {
    font-family: Title;
    src: url(fonts/Formula1-Regular.otf);
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    header {
        height: 10%;
        background-color: var(--f1-red);
        img {
            margin-left: 3vh;
            height: 6.5vh;
        }
    }
    main {
        justify-content: space-evenly;
        height: 80%;
        .article {
            max-width: 30vw;
            height: 75vh;
            flex-direction: column;
            .inner {
                padding: 1.5vh;
                flex-direction: column;
                .title {
                    font-family: Title;
                    font-size: 1.4rem;
                }
                .short_info {
                    font-family: 'Titillium Web', sans-serif;
                    margin-top: 2.5vh;
                }
            }
            img {
                height: 35vh;
            }
        }
    }
}

.flexed {
    display: flex;
    align-items: center;
}