body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.news {
    margin-top: 20px;
}

article {
    width: 36%;
}

span{
    font-weight: normal;
    font-size: 20px;
}

img {
    max-width: 100%;
    height: auto;
}
