body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

article {
    margin-bottom: 40px;
}

h1 {
    color: #33333375;
}

p {
    line-height: 1.6;
    color: #2c6e34;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 15px;
}
