.picture {
    text-align: center;
    margin-bottom: 20px;
}
.text{
    text-align: center;
    margin-bottom: 20px;
    font-family: "Times New Roman", serif;
    font-weight: bold;
}
header {
    background-color: gray;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}
footer {
    background-color: gray;
    color: white;
    padding: 10px;
    text-align: center;
}