.picture {
    text-align: center;
    margin-bottom: 18px;
}
.text{
    text-align: center;
    margin-bottom: 3px;
    font-family: "Consolas", serif;
    font-weight: bold;
}
header {
    background-color: darkgray;
    color: oldlace;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}
footer {
    background-color: darkgray;
    color: oldlace;
    padding: 10px;
    text-align: center;
}
.description{
    text-align: center;
    margin-bottom: 23px;
    font-family: "Consolas", serif;
    font-weight: bold;
}