.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.news {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.news img {
    max-width: 90%;
    height: auto;
}

body {
    background-color: rgb(76, 196, 200);
}

img {
    border: 4px black solid;
}