.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.news {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.news img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: cadetblue;
}

img {
    border: 2px black solid;
}