body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    margin-bottom: 1rem;
    text-align: center;
}

ul {
    list-style: none;
    padding: 30px;
    margin: 20px;
}

li {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}