*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 300px;
    height: auto;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0px 15px;
}
.news{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px 0px 0px;
}
.content{
    display: flex;
    flex-direction: column;
    color: gold;
}
.text{
    text-align: center;
    max-width: 300px;
}
.second_block{
    color: red;
}
@media (max-width: 647px) {
    .news{
        padding: 20px 0px 0px 0px;
        flex-direction: column;
    }
    .content{
        align-items: center;
    }
}
@media (max-width: 320px) {
    img{
        width: 200px;
    }
    .text{
        max-width: 200px;
    }
}