body {
    min-width: 500px;
    margin: 32px;
    background-color: #F6F5FA;
    color: #020202;
}

.news_item {
    margin-top: 14px;
    border-radius: 14px;
    border-width: 2px;
    border-style: solid;
    border-color: #DCDCDC;
    background-color: #FFFFFF1A;
    padding: 14px 34px;
}

.title {
    display: flex;
}

.title>img {
    border-radius: 10px;
    width: 36%;
    margin: 0 24px auto  auto;
}

.title>h1 {
    margin: 0;
}